h2 #{plot_title}
= render  partial: 'plot_canvas_and_data',
          locals: { \
             plot_id: plot_id,
             values: { \
               x: values[:x],
               y: values[:y] \
             } \
          }
