h2 Full Table
#collapseOne.panel-collapse.collapse role="tabpanel" aria-labelledby="headingOne"
#details-table-holder.table-responsive
  table.table
    tr
      - direct_conversion.size.times do |index|
        th #{index}
      th Sum
    - direct_conversion.each do |conversion_unit|
      tr
        - conversion_unit[1][:components].each do |component|
          td #{component.real.round(2)} + (#{component.imag.round(2)}i)
        td #{conversion_unit[1][:value][:abs].round(2)}


