<div class="panel panel-default">
  <div class="panel-heading">
    <%= plot_title %>
  </div>
  <div class="panel-body">
    <%= render partial: 'plot_canvas_and_data',
               locals: {
                   plot_id: plot_id,
                   values: {
                       x: values[:x],
                       y: values[:y]
                   }
               }
    %>
  </div>
</div>
