.plot id="#{plot_id}"
  = content_tag 'div',
          id: "#{plot_id}_data",
          data: { \
              indexes: values[:x],
              values: values[:y] \
          } do
  canvas id="#{plot_id}_canvas" width=800 height=400
