.interactive-table {
  .data-table-header {
    text-align: left;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }

  .values-sum-header {
    text-align: left;
    padding-left: 15px;
  }
}
