$navbar-background-color: #2a9fd6;
$navbar-link-color: #fff;

.navbar-fourier {
  background-color: $navbar-background-color !important;
}

.navbar-brand,
.navbar-link a {
  color: $navbar-link-color !important;

  &:hover {
    color: $navbar-link-color !important;
  }
}
