$screen-md-min: 992px;

#fourier-wrapper {
  padding-top: 70px;
  height: 100vh;

  h1,
  h2 {
    text-align: center;
  }

  #function-container {
    text-align: center;
    font-size: 2em;
  }

  .plot {
    padding-top:20px;
  }

  #function-input {
    text-align: center;

    .form-inline {
      .form-group, input[type=submit], button {
        margin: 5px 10px;
      }

      .form-group {
        label {
          margin: 0 5px;
        }

        input, select {
          @media (min-width: $screen-md-min) {
            width: 70px;
          }
        }
      }
    }
  }
}
