$background-overlay-color: rgba(0, 0, 0, 0.5);
$background-dim-color: rgba(0, 0, 0, 0.5);
$link-text-color: rgba(255, 255, 255, 0.7);
$link-hover-text-color: rgba(255, 255, 255, 0.9);

.home-wrapper {
  background-color: #2FA4E7;
  font-size: 5em;
  line-height: 1em;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  text-align: center;

  &::before {
    background-color: $background-overlay-color;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.home-link {
  color: $link-text-color;
  height: 50vh;
  overflow-wrap: break-word;
  position: relative;
  text-decoration: none !important;

  &:hover  {
    color: $link-hover-text-color;
  }

  p {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
